/* ul, li{
	list-style: none;
}
li{
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
} */
pre{
	width: 30%;
	background:#f3f3f3;
	border-radius: 10px;
	padding:10px 20px 10px;
	margin: 20px 0;
	font-family: '微软雅黑';
	box-shadow: 0 10px 10px #aaa;
}

:lang(zh) pre{
	background: pink;					
}
.selector ul li:first-child{
	background: red;
}
.selector ul li:last-child{
	background: blue;
}
:root{
	color: #c6c6c6;
}
